// ***************************************************************************************************** //
// NOTE:
// I am not using all of these variables, but I added them to show you how I normally structure my work.
// ***************************************************************************************************** //

$--color-white: #FFF;
$--color-gray: #CCC;

$--font-primary: 'Roboto', sans-serif;

$--h1: 80px;
$--h2: 64px;
$--h3: 48px;
$--h4: 32px;
$--h5: 24px;
$--h6: 20px;

$--font-body-1: 18px;
$--font-body-2: 16px;
$--font-body-3: 14px;
$--font-body-4: 12px;

$--transition: all .3s ease-in-out;
